body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Sans Serif", "Fira Mono";
  background-color: #f4f4f4;
}
.top-header {
  width: 100%;
  height: auto;
  background-color: rgb(70, 142, 86);
  padding: 20px;
  padding-right: 0px;
  box-sizing: border-box;
}

.top-title {
  margin: 0px;
  color: rgb(244, 255, 246);
}

.top-desc {
  color: rgb(181, 255, 208);
  font-size: 18px;
  font-weight: 700;
}

.nav-container {
  float: right;
  width: max-content;
  height: auto;
}

.top-navbar {
  float: right;
  width: max-content;
  height: auto;
}

.nav-ul {
  list-style: none;
  width: max-content;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

.nav-ul li {
  display: block;
  float: left;
  padding: 5px 8px;
  background-color: rgb(70, 223, 141);
}

.nav-ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.artikel {
  width: 80%;
  margin: 20px auto;
  color: #141414;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
}
.artikel-title {
  margin: 0;
  margin-bottom: 20px;
}

.artikel-konten {
  font-size: 1rem;
}

.textarea {
  width: 100%;
  height: 300px;

}
